<!-- Dynamic Content -->
<!DOCTYPE html>
<html>

<head>  <!--for decalring style sheet of page -->
    <title>Stream Hub</title>
       <link rel="icon" href="/img/movieLogo.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>  <!-- for displaying to the user-->
    {{>header}}
<p>{{errorMessage}}</p>  <!-- for 404 routes -->
    {{>footer}}
</body>
</html>